/* *{
    border: solid red 2px;
} */
body{
    background-image: url("./assets/newbook.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'David Libre', serif;
    text-shadow: 2px 2px black;
    color: #e8d0a9;
    background-color: #e8d0a9;

}
.book-img{
    height: 11rem;
    width: 8rem;
}
.book-info{
    font-family: 'Montserrat', sans-serif;
    color: #F6F3E3;

}
#title-link{
     color: #e8d0a9;
     font-size:2rem;

}
#title-link:hover{
    color:#b3d38a;
    font-size:2.2rem;
}
button{
    background: #b8a99c00;
    border-radius: 10%;
    border: solid 2px #b8a99c00;
    font-family: 'David Libre', serif;
    color:#e8d0a9;
    font-size: 1.2rem;
    text-shadow: 1px 1px black;


}
button:hover{
    color:#b7afa3;
    text-shadow: 1px 1px black;
}

/* .comment-label{

} */

input{
    border: 2px
}
.opaque{
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    
}
@media(max-width:900px){
    .opaque{
        width: 75vw;

    }
}
.content{
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}
h5{
    width: 50px;
}

audio { 
    margin-top: 20px;
    margin-left: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.616);
    border-radius: 90px;
    transform: scale(1.05);
    width: 300px;
    height: 25px;
  }
.container{
    width: 600px;
    /* margin-left: 6rem; */
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #e8d0a9;;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 2px 2px black;
    
}


.search{
    background: none
}
#index-head {
    text-align: center;
    text-shadow: 3px 3px black;
    color: #e8d0a9;
    margin: 7%;
    font-size: 4.2rem;
}
.navbar-brand{
    margin-right: .8rem;
    font-size: 1.2rem;
    color:#e8d0a9;
    font-family: 'David Libre', serif;
}
.nav-link{
    color:#e8d0a9;
    /* padding: .8rem; */
    
    font-family: 'David Libre', serif;
    /* text-shadow: 2px 2px black; */
    font-size: 1.2rem
}
.nav-link:hover, .navbar-brand:hover{
    
    
    color: #b7afa3;
}
.navbar{
    background: #A5A58D;
    height: 3.3rem;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px black;
}


.login{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.login-form{
    justify-content: center;
}
#id_username{
    background: #B7B7A4;
      border: 2px;
      border-radius: 10px;
      box-shadow: 0px 2px 20px black;
      color:#000000;
      max-width: 40vw;
}
#id_password1, #id_password2{
    background: #B7B7A4;
      border: 2px;
      border-radius: 10px;
      box-shadow: 0px 2px 20px black;
      color:#000000;
      max-width: 40vw;
      justify-self: center;
}

#signup{
    max-width: 40vw;
    justify-self: center;

    overflow: wrap;

}
.shelf-icon{
    height: 38px;
    width: 38px;
}

.footer {
    position: fixed;
    height: 2rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A5A58D;
    color: #e8d0a9;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 1.3rem;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px black;
    padding: 2px;
    margin-top: 10rem;
    padding-bottom: 1rem
  }
  /* .fourofour{ */
      /* background-image: url("/assets/bookworm.gif"); */
  /* } */
  .buy-link {
      font-size: 1rem;
      color:#e8d0a9;
      
  }
  .buy-link:hover{
    color:#b3d38a;
    
  }
  
  .footer-names {
      display: inline-block;
      margin-left: 2.5rem;
  }
  .input-search {
      background: #B7B7A4;
      border: 2px;
      border-radius: 10px;
      box-shadow: 0px 2px 20px black;
      color:#000000;
       
  }
  .login-form{
      color:#e8d0a9; 
      

  }
  .sim-grid{
      display:grid;
      grid-template-columns: 2fr 2fr 2fr;
      background-color: rgba(0, 0, 0, 0);
      
  }
  .card{
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    font-size:5rem;
    
  }
  .book-image{
      height:5rem;
      width:3.9rem;
      text-align:center;
     
  }
  .sim-book-title{
    font-size:1.1rem;
    color:#e8d0a9;
  }
  .sim-book-title:hover{
    color:#b3d38a
    
  }
  .audio-button{
  }

  .author-link{
   color:#e8d0a9
  }
  .author-link:hover{
     color:#b3d38a
  }


 

  
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

